.vk-forum-post p {
    
    color: white;
}

.vk-forum-post {
    margin-bottom: 10px;
    color: black;
    list-style-type: none;
    border-width: 30px;
    border-color: red;
    border-radius: 10px;
    background-color: lightgray;
}

.vk-post-expansion {
    max-width: 80%;
    width: 80%;
    margin: 10%;
}

.vk-clickable {
    cursor: pointer;
}